@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.layout {
  width: 940px;
  margin: 0 auto;
}

.about-me__title, .skills__title, .portfolio__title, .contacts__title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin: 0;
}

.nav__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 31px;
}

.nav__link {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #828282;
  text-decoration: none;
}

.nav__link-first {
  color: black;
}

.nav__link:hover, .nav__link:focus, .nav__link:active {
  color: #3a3a3a;
}

.nav__line {
  border: 1px solid #828282;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  margin-bottom: 40px;
}

.home__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 31px;
}

.home__name {
  font-size: 47.3392px;
  line-height: 59px;
  margin: 0;
}

.home__desc-el {
  margin: 0;
  font-family: Gilroy-Medium;
}

.home__lang {
  position: relative;
  bottom: 28px;
  left: 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #828282;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 0;
}

.home__lang-eng {
  color: black;
}

.home__lang:hover, .home__lang:focus {
  cursor: pointer;
}

.home__img {
  margin-bottom: 104px;
}

.about-me {
  background: #f6f6f6;
}

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 485px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 107px;
  margin-bottom: 91px;
}

.about-me__info {
  font-family: Gilroy-Medium;
  text-align: center;
}

.skills__title {
  margin-bottom: 69px;
}

.skills__intro {
  font-family: Gilroy-Medium;
  text-align: center;
  margin-bottom: 83.5px;
}

.skills__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}

.skills__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__img {
  margin-left: 20px;
  margin-bottom: 26px;
}

.card__name {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin: 0;
  margin-bottom: 41.5px;
}

.card__star {
  display: inline;
}

.portfolio {
  background: #f6f6f6;
}

.portfolio__title {
  padding-top: 112px;
  margin-bottom: 47px;
}

.portfolio__img {
  margin-bottom: 45px;
}

.portfolio__link {
  color: black;
}

.portfolio__page-name {
  font-family: Gilroy-Medium;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding-bottom: 100px;
  margin: 0;
}

.portfolio__page-name:hover, .portfolio__page-name:focus, .portfolio__page-name:active {
  opacity: 0.7;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 114px;
  margin-bottom: 123px;
}

.contacts__title {
  margin-bottom: 26px;
}

.contacts__desc {
  margin: 0 auto;
  font-family: Gilroy-Medium;
  text-align: center;
  width: 275px;
  margin-bottom: 30px;
}

.contacts__button {
  border: none;
  color: white;
  background: url(../img/button.png);
  width: 181px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 86px;
}

.contacts__button:hover, .contacts__button:focus, .contacts__button:active {
  opacity: 0.8;
  cursor: pointer;
}

.contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 304px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  opacity: 0.7;
}

.contacts__message {
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  text-align: center;
  color: #828282;
}
/*# sourceMappingURL=style.css.map */